<div class="main-container d-flex flex-column">
  <div class="form-container">
    <form class="d-flex" [formGroup]="cookieForm">
      <div class="form-input d-flex flex-column">
          <label for="body">Body color</label>
          <input class="w-100" formControlName="body" name="body" type="text">
      </div>
      <div class="form-input d-flex flex-column">
          <label for="frosting">Frosting color</label>
          <input class="w-100" formControlName="frosting" name="frosting" type="text">
      </div>
      <div class="form-input d-flex flex-column">
          <label for="mouth">Mouith color</label>
          <input class="w-100" formControlName="mouth" name="mouth" type="text">
      </div>
      <button (click)="createCookie()" class="add-button" type="submit">ADD</button>
      <button (click)="randomCookie()" [style.background-color]="buttonColor" class="random-button" type="submit">RANDOM!</button>
    </form>

  </div>
  <div class="cookies-container d-flex flex-wrap align-items-center justify-content-center">
    <div *ngFor="let cookie of cookies; index as i;">
      <app-cookieman (eated)="eatHim(i)" [cookie]="cookie"></app-cookieman>
    </div>
  </div>
  </div>
