.main-container{
  padding-top:12px;
  padding-left:36px;
  padding-right:36px;
  margin-top: 100px;
}

.form-container{
  position:fixed;
  z-index:4000;
  top:0;
  left:0;
  right:0;
  background-color:gainsboro;
}

.form-input {
  border-radius: 10px;
  margin:12px;
  border: 2px solid orangered;
  background-color: white;
  position: relative;
  height:60px;
  width:100%;
  label{
    position:absolute;
    top:4px;
    left:10px;
    font-size: 12px;
    color: orangered;
    text-transform: uppercase;
  }
  input,select{
    border: none;
    position:absolute;
    background: none;
    bottom: 0;
    font-size: 15px;
    padding:8px;
    padding-left: 10px;
    right:0;
    left: 0;
    option{
      padding:8px;
    }
  }
}

.add-button{
  border-radius: 10px;
  background: none;
  border: none;
  margin:12px;
  padding-right:30px;
  padding-left: 30px;
  height:60px;
  text-align: center;
  background-color: orangered;
  color: white;
}

.random-button{
  @extend .add-button;
    transition: 0.1s ease-in-out;
}

*:focus{
  outline: none;
}

.freak-cookie{
  position:fixed;
}