<div class="body d-flex flex-column align-items-center justify-content-center">
  <button (click)="eatMe()" class="eat-me">
    EAT HIM!
  </button>
  <div [style.background-color]="cookie? cookie.body : ''" class="head"></div>
  <div [style.background-color]="cookie? cookie.body : ''" class="chest"></div>
  <div class="eye-left"></div>
  <div class="eye-right"></div>  
  <div class="mouth-in"></div>
  <div [style.background-color]="cookie? cookie.mouth : ''" class="mouth-out"></div>
  <div [style.background-color]="cookie? cookie.frosting : ''" class="eyebrow-left"></div>
  <div [style.background-color]="cookie? cookie.frosting : ''" class="eyebrow-right"></div>
  <div [style.background-color]="cookie? cookie.frosting : ''" class="top-button"></div>
  <div [style.background-color]="cookie? cookie.frosting : ''" class="bot-button"></div>
</div>
